@font-face {
    font-family: 'GlacialIndifference';
    src: url("../FONTS/GlacialIndifference/GlacialIndifference-Regular.otf") format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aboreto';
    src: url("../FONTS/Aboreto/Aboreto-Regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../FONTS/Roboto/static/Roboto-Medium.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
}